* {
  box-sizing: border-box;
}

:root {
  --bg: #1a1a1a;
  --min-size: 20vw;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  overflow-y: hidden;
  background: var(--bg);
}

.drag-proxy {
  visibility: hidden;
  position: absolute;
}

.scroll-icon {
  height: 30px;
  position: fixed;
  top: 1rem;
  right: 1rem;
  color: #e6e6e6;
  -webkit-animation: action 4s infinite;
  animation: action 4s infinite;
}

.boxes {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: absolute;
  transform-style: preserve-3d;
  perspective: 800px;
  touch-action: none;
}

.box {
  transform-style: preserve-3d;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 10vmin;
  width: 10vmin;
  min-height: var(--min-size);
  min-width: var(--min-size);
  display: none;
}

.box:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  background-image: var(--src);
  background-size: cover;
  transform: translate(-50%, -50%) rotate(180deg) translate(0, -100%) translate(0, -0.5vmin);
  opacity: 0.75;
}

.box:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  background: linear-gradient(var(--bg) 50%, transparent);
  transform: translate(-50%, -50%) rotate(180deg) translate(0, -100%) translate(0, -0.5vmin) scale(1.01);
  z-index: 2;
}

.box span {
  position: absolute;
  height: 10%;
  width: 100%;
  top: -15%;
  color: rgb(212, 212, 212);
  text-align: center;
  font-size: 0.8vw;
  letter-spacing: 0.5em;
  cursor: default;
}

.box img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  -o-object-fit: cover;
  object-fit: cover;

}

.pop-up {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: none;
}

.pop-up video {
  width: 100%;
  height: 100vh;
  position: fixed;
  object-fit: cover;
}

.pop-up img {
  width: 100%;
  height: 100vh;
  position: fixed;
  object-fit: cover;
}
.pop-up iframe {
  width: 100%;
  height: 100vh;
  position: fixed;
  object-fit: cover;
}

.play {
  display: block;
}

.pop-up .close {
  width: 35px;
  height: 35px;
  position: fixed;
  top: 2%;
  right: 1%;
  cursor: pointer;
  font-size: 29px;
  color: rgb(255, 255, 255);
  z-index: 10;
}

#close06, #close07, #close10 {
  color: rgb(0, 0, 0);
}

@supports (-webkit-box-reflect: below) {
  .box {
    -webkit-box-reflect: below .2vmin linear-gradient(transparent 0 50%, #fff 100%);
  }

  .box:after,
  .box:before {
    display: none;
  }
}

@-webkit-keyframes action {

  0%,
  25%,
  50%,
  100% {
    transform: translate(0, 0);
  }

  12.5%,
  37.5% {
    transform: translate(0, 25%);
  }
}

@keyframes action {

  0%,
  25%,
  50%,
  100% {
    transform: translate(0, 0);
  }

  12.5%,
  37.5% {
    transform: translate(0, 25%);
  }
}