
html,
html *,
body,
body * {
  cursor: none;
}

.cursor-dot,
.cursor-dot-outline {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.cursor-dot {
  width: 60px;
  height: 60px;
  background-color: #ffffffde;
  box-shadow: 5px 5px 10px rgba(37, 37, 37, 0.4), 3px 3px 3px rgba(34, 34, 34, 0.3);

}

.cursor-dot-outline {
  width: 75px;
  height: 75px;
  /* background-color: rgba(255, 255, 255, 0.2); */
  border-radius: 50%;
  border: 2px solid;
  color: #ffffffd0;
}